<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Parallo - Services</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="{{ asset("all.min.css", "css") }}" >
    <link rel="stylesheet" href="{{ asset("bootstrap.min.css", "css") }}">
    <link rel="stylesheet" href="{{ asset("templatemo-style.css", "css") }}">
  </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
